{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }}
    Buy a pet!

{% endblock %}
{% block body -%}
    <h1>Pet list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Temperament</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-striped">
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.temperament }}</td>
                <td>{{ entity.breed }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
