{% extends '::base.html.twig' %}
{% form_theme delete_form 'PetTrafficKingStoreBundle:Form:forms.html.twig' %}

{% block body -%}
    <div class="well col-sm-6 col-sm-offset-3">
        <a class = "pull-right" href="{{ path('') }}">
            Back to the list
        </a>
        <h1>{{ entity.name}}</h1>
        <ul class="list-group">
            <li class="list-group-item">ID: {{ entity.id}}</li>
            <li class="list-group-item">Name: {{ entity.name}}</li>
            <li class="list-group-item">Temperament: {{ entity.temperament }}</li>
            <li class="list-group-item">Breed: {{ entity.breed }}</li>
            <li class="list-group-item">Type: {{ entity.type }}</li>
            <li class="list-group-item">Color: {{ entity.color }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <h2 class="list-group-item-heading">Price: ${{ entity.price }}</h2>
            </li>
        </ul>
        <div class="col-sm-2">
            <a href="{{ path('buy', { 'pet_id': entity.id }) }}" class="btn btn-primary">Buy</a>

        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-2 col-sm-offset-6">
                <a class="btn btn-primary" href="{{ path('_edit', { 'id': entity.id }) }}">Edit</a>
            </div>
            <div class="col-sm-2">
                {{ form(delete_form) }}
            </div>
        {% endif %}

    </div>

</ul>
{% endblock %}
